body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1188px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:874px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:874px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u8880 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8881 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8882_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u8882.mouseOver {
}
#u8882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:872px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:814px;
  width:872px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u8883 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:829px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8886_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8886.mouseOver {
  opacity:0.8;
}
#u8886_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8886.mouseDown {
  opacity:1;
}
#u8886_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8886.mouseOver.mouseDown {
}
#u8886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:829px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8887_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8887.mouseOver {
  opacity:0.8;
}
#u8887_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8887.mouseDown {
  opacity:1;
}
#u8887_div.mouseOver.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u8887.mouseOver.mouseDown {
}
#u8887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:171px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8888 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:171px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8889 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:115px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8890 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:115px;
  width:274px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:115px;
  width:274px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u8894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u8894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:115px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8895 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:171px;
  width:274px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome5Pro-Regular", "Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:171px;
  width:42px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome5Pro-Regular", "Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u8898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:171px;
  width:274px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:227px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8901 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:227px;
  width:274px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:858px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8904 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:858px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u8905 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
  line-height:28px;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:370px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
  line-height:28px;
}
#u8906 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
  line-height:28px;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:522px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
  text-align:right;
  line-height:28px;
}
#u8907 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8908_input {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u8908_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u8908_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u8908_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  padding:5px 2px 2px 5px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u8908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#CCCCCC;
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:370px;
  width:713px;
  height:137px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#CCCCCC;
}
#u8908 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u8908_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#CCCCCC;
}
#u8908.hint {
}
#u8908_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#CCCCCC;
}
#u8908.disabled {
}
#u8908_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:137px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#CCCCCC;
}
#u8908.hint.disabled {
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#0079FE;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:522px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#0079FE;
}
#u8910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8910_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#0079FE;
}
#u8910.mouseOver {
}
#u8910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:left;
}
#u8911 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:562px;
  width:464px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:left;
}
#u8911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:227px;
  width:120px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u8912 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:227px;
  width:274px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u8914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 3px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome5Pro-Regular", "Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:227px;
  width:42px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome5Pro-Regular", "Font Awesome 5 Pro", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u8915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:50px;
  width:300px;
  height:650px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u8916 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u8916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
