body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-family:"Helvetica-Bold", "Helvetica Bold", "Helvetica", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u10741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:711px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Helvetica-Bold", "Helvetica Bold", "Helvetica", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u10741 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u10742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u10742 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10743 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:0px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10743_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Font Awesome 5 Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u10743.mouseOver {
}
#u10743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u10744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:938px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u10744 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u10745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:938px;
  height:65px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:left;
  line-height:28px;
}
#u10745 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u10745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10746 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:125px;
  width:907px;
  height:60px;
}
#u10747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u10747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10748 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:0px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u10748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10749 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:0px;
  width:196px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u10749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10750 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:0px;
  width:256px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u10750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:194px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:30px;
}
#u10751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10752 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:30px;
  width:260px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u10752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10753 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:30px;
  width:196px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u10753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10754 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:30px;
  width:256px;
  height:30px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u10754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10755 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:270px;
  width:907px;
  height:211px;
}
#u10756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:53px;
}
#u10756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10757 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:152px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u10757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10758 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:159px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:53px;
}
#u10758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10759 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:0px;
  width:143px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:53px;
}
#u10759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10760 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:204px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:53px;
}
#u10760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10761 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:151px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:53px;
}
#u10761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:97px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:53px;
}
#u10762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10763 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:53px;
  width:152px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:53px;
}
#u10763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10764 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:53px;
  width:159px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u10764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:53px;
}
#u10764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10765 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:53px;
  width:143px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u10765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:53px;
}
#u10765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10766 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:53px;
  width:204px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:53px;
}
#u10766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10767 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:53px;
  width:151px;
  height:53px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#02A7F0;
  text-align:left;
}
#u10767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:53px;
}
#u10767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:97px;
  height:54px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u10768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10769 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:106px;
  width:152px;
  height:54px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:54px;
}
#u10769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10770 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:106px;
  width:159px;
  height:54px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u10770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:54px;
}
#u10770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10771 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:106px;
  width:143px;
  height:54px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u10771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:54px;
}
#u10771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10772 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:106px;
  width:204px;
  height:54px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:54px;
}
#u10772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10773 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:106px;
  width:151px;
  height:54px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#02A7F0;
  text-align:left;
}
#u10773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:54px;
}
#u10773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:97px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:51px;
}
#u10774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10775 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:160px;
  width:152px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:51px;
}
#u10775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10776 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:160px;
  width:159px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u10776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:51px;
}
#u10776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10777 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:160px;
  width:143px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u10777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:51px;
}
#u10777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10778 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:160px;
  width:204px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u10778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:51px;
}
#u10778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10779 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:160px;
  width:151px;
  height:51px;
  display:flex;
  transition:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#02A7F0;
  text-align:left;
}
#u10779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u10779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
